#
# =======================================================================
# ------ Ignore file of the "ife" repository
# =======================================================================
#
# -- ignore public/tmp directory
#
tmp
