

.footer_wrapper {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    line-height: 18px;
    background: url("ipac_bar.jpg") repeat center center transparent;
    padding: 20px 0;
    display: block
}

.footer_wrapper  a{
    color: #fff;
    text-decoration: none;
}

.footer_wrapper  a:hover {
    color: #ccc;
    text-decoration: none
}


.footer_wrapper .footer-panel {
    color: #fff
}

.footer_wrapper .footer-panel ul {
    list-style-type: none
}

.footer_wrapper .footer-panel ul li {
    margin-bottom: 5px;
    background-position: 0px 4px;
    background-image: url("footer/bullet.png");
    background-repeat: no-repeat;
    padding-left: 10px
}

.footer_wrapper .footer-panel ul li a {
    font-size: 14px;
    line-height: 16px
}

.footer_wrapper .footer-panel .affiliates img {
    margin-left: 20px
}

.footer_wrapper .footer-panel .disclaimer {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #bbb
}

.footer-span5 {
    width: 380px
}

.footer-contact {
    width: 220px;
    float: left;
}


.google-search {
    /*background-color: #cadbe1;*/
    /*background-color: rgba(201, 219, 225, 0.4);*/
    /*background-color: #000000;*/
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 3px;
    /*margin-right: auto;*/
    /*margin-top: 80px;;*/
    padding: 10px 8px 10px 8px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    vertical-align:top;
}

.google-search input {
    line-height: 10pt;
    font-size: 10pt;
    width: 170px
;
}

.google-search button{
    font-size: 9pt;
    padding: 2px 2px 2px 2px;
    margin: -7px 0px 0px -2px;
}


.footer-row {
    margin-left: -20px;
    *zoom: 1
}

/*.footer-row:before, .row:after {*/
    /*display: table;*/
    /*content: ""*/
/*}*/

/*.footer-row:after {*/
    /*clear: both*/
/*}*/

.footer-container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}


