article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover, a:active {
    outline: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button, input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff
}

a {
    color: #0088cc;
    text-decoration: none
}

a:hover {
    color: #005580;
    text-decoration: underline
}

.row {
    margin-left: -20px;
    *zoom: 1
}

.row:before, .row:after {
    display: table;
    content: ""
}

.row:after {
    clear: both
}

[class*="span"] {
    float: left;
    margin-left: 20px
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px
}

.span12 {
    width: 940px
}

.span11 {
    width: 860px
}

.span10 {
    width: 780px
}

.span9 {
    width: 700px
}

.span8 {
    width: 620px
}

.span7 {
    width: 540px
}

.span6 {
    width: 453px
}

.span5 {
    width: 380px
}

.span4 {
    width: 300px
}

.span3 {
    width: 215px
}

.span2 {
    width: 140px
}

.span1 {
    width: 60px
}

.offset12 {
    margin-left: 980px
}

.offset11 {
    margin-left: 900px
}

.offset10 {
    margin-left: 820px
}

.offset9 {
    margin-left: 740px
}

.offset8 {
    margin-left: 660px
}

.offset7 {
    margin-left: 580px
}

.offset6 {
    margin-left: 500px
}

.offset5 {
    margin-left: 420px
}

.offset4 {
    margin-left: 340px
}

.offset3 {
    margin-left: 260px
}

.offset2 {
    margin-left: 180px
}

.offset1 {
    margin-left: 100px
}


.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}

.container:before, .container:after {
    display: table;
    content: ""
}

.container:after {
    clear: both
}

p {
    margin: 0 0 9px
}

p small {
    font-size: 11px;
    color: #999999
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999
}

h1 {
    font-size: 30px;
    line-height: 36px
}

h1 small {
    font-size: 18px
}

h2 {
    font-size: 24px;
    line-height: 36px
}

h2 small {
    font-size: 18px
}

h3 {
    font-size: 18px;
    line-height: 27px
}

h3 small {
    font-size: 14px
}
.page-header {
    padding-bottom: 17px;
    margin: 18px 0;
    border-bottom: 1px solid #eeeeee
}

.page-header h1 {
    line-height: 1
}

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li {
    line-height: 18px
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none
}

dl {
    margin-bottom: 18px
}

dt, dd {
    line-height: 18px
}

dt {
    font-weight: bold;
    line-height: 17px
}

dd {
    margin-left: 9px
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

.muted {
    color: #999999
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999999
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee
}

blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px
}

blockquote small {
    display: block;
    line-height: 18px;
    color: #999999
}

blockquote small:before {
    content: '\2014 \00A0'
}


q:before, q:after, blockquote:before, blockquote:after {
    content: ""
}

small {
    font-size: 100%
}


form {
    margin: 0 0 18px
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0
}


label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px
}

input, button, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

label {
    display: block;
    margin-bottom: 5px
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555
}

input, textarea {
    width: 210px
}

textarea {
    height: auto
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted  \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px 0;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer
}

input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto
}

select, input[type="file"] {
    height: 28px;
    *margin-top: 4px;
    line-height: 28px
}

select {
    width: 189px;
    border: 1px solid #bbb
}

select[multiple], select[size] {
    height: auto
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0
}

.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
    display: inline-block
}

input, textarea, .uneditable-input {
    margin-left: 0
}

input.span12, textarea.span12, .uneditable-input.span12 {
    width: 930px
}

input.span11, textarea.span11, .uneditable-input.span11 {
    width: 850px
}

input.span10, textarea.span10, .uneditable-input.span10 {
    width: 770px
}

input.span9, textarea.span9, .uneditable-input.span9 {
    width: 690px
}

input.span8, textarea.span8, .uneditable-input.span8 {
    width: 610px
}

input.span7, textarea.span7, .uneditable-input.span7 {
    width: 530px
}

input.span6, textarea.span6, .uneditable-input.span6 {
    width: 450px
}

input.span5, textarea.span5, .uneditable-input.span5 {
    width: 370px
}

input.span4, textarea.span4, .uneditable-input.span4 {
    width: 290px
}

input.span3, textarea.span3, .uneditable-input.span3 {
    width: 210px
}

input.span2, textarea.span2, .uneditable-input.span2 {
    width: 130px
}

input.span1, textarea.span1, .uneditable-input.span1 {
    width: 50px
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
    border-color: #ddd
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
    background-color: transparent
}


input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    color: #b94a48;
    border-color: #ee5f5b
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7
}

:-moz-placeholder {
    color: #999999
}

:-ms-input-placeholder {
    color: #999999
}

::-webkit-input-placeholder {
    color: #999999
}


.input-prepend, .input-append {
    margin-bottom: 5px
}

.input-prepend input, .input-append input, .input-prepend select, .input-append select, .input-prepend .uneditable-input, .input-append .uneditable-input {
    position: relative;
    margin-bottom: 0;
    *margin-left: 0;
    vertical-align: middle;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.input-prepend input:focus, .input-append input:focus, .input-prepend select:focus, .input-append select:focus, .input-prepend .uneditable-input:focus, .input-append .uneditable-input:focus {
    z-index: 2
}

.input-prepend .uneditable-input, .input-append .uneditable-input {
    border-left-color: #ccc
}

.input-prepend .add-on, .input-append .add-on {
    display: inline-block;
    width: auto;
    height: 18px;
    min-width: 16px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid #ccc
}

.input-prepend .add-on, .input-append .add-on, .input-prepend .btn, .input-append .btn {
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend .active, .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: -1px
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.input-append input, .input-append select, .input-append .uneditable-input {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.input-append .uneditable-input {
    border-right-color: #ccc;
    border-left-color: #eee
}

.input-append .add-on:last-child, .input-append .btn:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0
}

.form-search .hide, .form-inline .hide, .form-horizontal .hide {
    display: none
}

.form-search label, .form-inline label {
    display: inline-block
}

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
    margin-bottom: 0
}

.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle
}

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.btn:active, .btn.active {
    background-color: #cccccc  \9
}

.btn:first-child {
    *margin-left: 0
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9  \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75)
}

.btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.btn-primary {
    margin-left: -3px;
    background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #08c, #05c);
    background-image: -ms-linear-gradient(top, #08c, #05c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c));
    background-image: -webkit-linear-gradient(top, #08c, #05c);
    background-image: -o-linear-gradient(top, #08c, #05c);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0055cc;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0055cc;
    *background-color: #004ab3
}

.btn-primary:active, .btn-primary.active {
    background-color: #004099  \9
}


.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    *background-color: #df8505
}

.btn-warning:active, .btn-warning.active {
    background-color: #c67605  \9
}


button.btn, input[type="submit"].btn {
    *padding-top: 2px;
    *padding-bottom: 2px
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0055cc
}


.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222222
}

.btn .caret {
    margin-top: 7px;
    margin-left: 0
}

.btn:hover .caret, .open.btn-group .caret {
    opacity: 1;
    filter: alpha(opacity=100)
}

.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 0.75;
    filter: alpha(opacity=75)
}

.pull-left {
    float: left
}

@font-face {
    font-family: 'FontAwesome';
    src: url("/assets/fontawesome-webfont.eot");
    src: url("@{@fontAwesomeEotPath}?#iefix") format("embedded-opentype"), url("/assets/fontawesome-webfont.woff") format("woff"), url("/assets/fontawesome-webfont.ttf") format("truetype"), url("@{@fontAwesomeSvgPath}#FontAwesome") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat
}

li[class^="icon-"], li[class*=" icon-"] {
    display: block
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit
}

a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit
}

.icon-large:before {
    vertical-align: middle;
    font-size: 1.3333333333333333em
}

.btn [class^="icon-"], .nav-tabs [class^="icon-"], .btn [class*=" icon-"], .nav-tabs [class*=" icon-"] {
    line-height: .9em
}

li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}

li .icon-large:before, li .icon-large:before {
    width: 1.875em
}

ul.icons {
    list-style-type: none;
    margin-left: 2em;
    text-indent: -0.8em
}

ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
    width: .8em
}

ul.icons li .icon-large:before, ul.icons li .icon-large:before {
    vertical-align: initial
}

input[type="text"] {
    height: auto !important
}


.input-append .add-on, .input-append .btn {
    margin-left: -3px
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: -4px
}

.table th, .table td {
    border-top: 1px solid #999
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent
}

.irsa_website {
    background: url("page_background.jpg") no-repeat top center #eee;
    background-position: center -5px;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0
}

.irsa_website h1, .irsa_website h2, .irsa_website h3, .irsa_website h4, .irsa_website h5 {
    font-weight: 400;
    margin: 0 0 10px 0
}

.irsa_website h1 {
    font-size: 36px;
    line-height: 36px
}

.irsa_website h2 {
    font-size: 24px;
    line-height: 36px
}

.irsa_website h3 {
    font-size: 18px;
    line-height: 27px
}

.irsa_website p {
    font-size: 13px
}

.irsa_website strong, .irsa_website table th, .irsa_website b {
    font-weight: 700
}

.irsa_website a {
    color: #fff;
    text-decoration: none
}

.irsa_website a:hover {
    color: #ccc;
    text-decoration: none
}

.irsa_website .clickable {
    cursor: pointer
}

.irsa_website .right {
    float: right
}

.irsa_website .left {
    float: left
}

.irsa_website .center {
    text-align: center
}

.irsa_website .clear {
    clear: both
}

.irsa_website .content {
    min-height: 550px
}

.irsa_website .uppercase {
    text-transform: uppercase
}


.irsa_website .panel {
    border: 5px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 30px
}


.irsa_website .light_panel {
    /*background: url("panel_light_background.png") repeat top center transparent;*/
    background-color: #CADBE1;
    color: #000
}

.irsa_website .light_panel {
    padding: 20px;
    overflow: hidden;
    *zoom: 1
}

.irsa_website .ipac_bar {
    background: url("ipac_bar.jpg") repeat center center transparent
}

.irsa_website .header .mission_title {
    position: relative;
    padding-top: 30px;
    height: 65px
}

.irsa_website .header .mission_title h1 {
    font-size: 33px;
    line-height: 42px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin: 15px 0 0 180px
}

.irsa_website .header .mission_title .irsa_logo {
    background: url("irsa_logo.png") no-repeat top center transparent;
    width: 166px;
    height: 80px;
    position: absolute;
    top: 37px;
    left: 0px
}

.page .light_panel .image {
    margin: -20px -20px 20px;
    position: relative
}

.page .light_panel .image h2 {
    position: absolute;
    top: 20px;
    left: 0px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 3px 10px 3px 20px;
    max-width: 500px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.page .light_panel .image .caption {
    color: #fff;
    padding: 10px;
    margin: 0;
    position: absolute;
    background-color: rgba(69, 100, 110, 0.75);
    bottom: 20px;
    right: 0;
    width: 70%;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    font-style: italic
}

.source_search {
    background-color: #cadbe1;
    margin: -20px -20px 0px;
    padding: 20px 20px 5px
}

.source_search h3 {
    margin-top: -10px
}

.source_search form {
    margin: 0px;
    padding: 0px
}

.source_search form #objstr {
    width: 320px
}

.source_search form #radunits {
    margin-left: 5px;
    width: 100px
}

.browse_catalog h3 {
    margin-top: 10px
}

.browse_catalog select {
    margin: -2px 0 0 0;
}

.browse_catalog form {
    margin: 0px;
    padding: 0px
}

.home_page .featured_blocks .panel {
    position: relative;
    overflow: hidden
}

.home_page .featured_blocks .panel .title {
    position: absolute;
    bottom: 0;
    left: 0
}

.home_page .featured_blocks .panel a:hover {
    color: #fff
}

.home_page .featured_blocks .panel a:hover .more {
    bottom: 0
}


.home_page .help a {
    color: #fff;
    display: block;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px
}

.home_page .help a:hover {
    color: #ccc
}

.home_page .help .faq, .home_page .help .documentation, .home_page .help .video_tutorials, .home_page .help .help_desk {
    padding: 0;
    background: none
}

.home_page .help .faq {
    background-color: #8D5D5E;
    /*background-color: #5d818d;*/
}

.home_page .help .documentation {
    background-color: #8D5D5E
    /*background-color: #5d818d*/
    /*background-color: #835D8B*/
}

.home_page .help .video_tutorials {
    background-color: #8D5D5E
    /*background-color: #5d818d*/
    /*background-color: #5D8D6E*/
}

.home_page .help .help_desk {
    /*background-color: #5d818d*/
    background-color: #8D5D5E
}


.big_cap {
    text-transform: uppercase;
    display: inline-block
}

.big_cap:first-letter {
    font-size: 120%
}


.big_cap.uppercase:first-letter {
    font-size: 100%
}

.big_cap.uppercase {
    font-size: 130%
}

