.tablePanel__checkbox {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.tablePanel_NoData {
    position: absolute;
    top: 50%;
    left: 42%;
    z-index: 1;
    color: gray;
    font-size: large;
}

.fixedDataTableRowLayout_rowWrapper .tablePanel__Row_highlighted {
    background-color: #d3fad1
}

.TablePanel__wrapper {
    flex: auto;
    position: relative;
    background-color: #a5a5a5;
    border: 1px solid #8c8c8c;
    padding: 0 3px 3px 3px;
}
.TablePanel__table {
    background-color: white;
    position: absolute;
    top: 32px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}

.TablePanel__header {
    white-space: nowrap;
    height: calc(100% - 3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}

button.paging_bar {
    height: 16px;
    width: 16px;
    margin-top: 1px;
}

button.tablepanel {
    height: 24px;
    width: 24px;
    margin: 0 2px;
}

button.paging_bar.first {
    background-image: url("/images/icons-2014/16x16_BackwardToEnd.png");
}

button.paging_bar.last {
    background-image: url("/images/icons-2014/16x16_ForwardToEnd.png");
}

button.paging_bar.next {
    background-image: url("/images/icons-2014/16x16_Forward.png");
}

button.paging_bar.previous {
    background-image: url("/images/icons-2014/16x16_Backward.png");
}

button.tablepanel.options {
    background-image: url("/images/icons-2014/24x24_GearsNEW.png");
}

button.tablepanel.textView {
    background-image: url("/images/icons-2014/24x24_TextView.png");
}

button.tablepanel.tableView {
    background-image: url("/images/icons-2014/24x24_TableView.png");
}

button.tablepanel.save {
    background-image: url("/images/icons-2014/24x24_Save.png");
}

button.tablepanel.clearFilters {
    background-image: url("/images/icons-2014/24x24_FilterOff_Circle.png");
}

.TablePanelOptions {
    position: absolute;
    padding: 5px 7px;
    width: 205px;
    top: 1px;
    bottom: 1px;
    right: 0;
    background-color: beige;
    border-left: 1px solid #CCC;
    z-index: 100;
}

.TablePanelOptions__button {
    width: 50px;
    height: 20px;
    border: none;
    font-size: 12px;
    color: #69e;
    padding: 0;
    border-radius: 2px;
    background: none;
}
.TablePanelOptions__button:active {
    background-color: #ffffff;
}

.TablePanelOptions__button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}


/** below are taken from FixedDataTable with some modifications */

/**
 * FixedDataTable v0.6.0
 *
 * Copyright (c) 2015, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 */

.public_Scrollbar_main.public_Scrollbar_mainActive, .public_Scrollbar_main:hover {
    background-color: rgba(255, 255, 255, .8)
}

.public_Scrollbar_mainOpaque, .public_Scrollbar_mainOpaque.public_Scrollbar_mainActive, .public_Scrollbar_mainOpaque:hover {
    background-color: #fff
}

.public_Scrollbar_face:after {
    background-color: #c2c2c2
}

.public_Scrollbar_main:hover .public_Scrollbar_face:after, .public_Scrollbar_mainActive .public_Scrollbar_face:after, .public_Scrollbar_faceActive:after {
    background-color: #7d7d7d
}

.public_fixedDataTable_main, .public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder {
    border-color: #8c8c8c
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
    font-weight: 700
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #f6f7f8;
    background-image: -webkit-linear-gradient(#fff, #dcdcdc);
    background-image: linear-gradient(#fff, #dcdcdc);
    text-align: center;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main {
    background-color: #f6f7f8;
    border-color: #d3d3d3
}

.public_fixedDataTable_topShadow {
    background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x
}

.public_fixedDataTable_bottomShadow {
    background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAHElEQVQI12MwNjZmZdAT1+Nm0JDWEGZQk1GTBgAWkwIeAEp52AAAAABJRU5ErkJggg==) repeat-x
}

.public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal {
    background-color: #fff;
}

.public_fixedDataTableCell_main {
    border-color: #d3d3d3;
}

.public_fixedDataTableCell_highlighted {
    background-color: #f4f4f4
}

.public_fixedDataTableCell_cellContent {
    font-size: 11px;
    white-space: nowrap;
    padding: 3px;
}

.public_fixedDataTableCell_columnResizerKnob {
    background-color: #0284ff
}

.public_fixedDataTableColumnResizerLine_main {
    border-color: #0284ff
}

.public_fixedDataTableRow_main {
    /*background-color: #fff*/
}

.public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
}

.public_fixedDataTableRow_fixedColumnsDivider {
    border-color: #d3d3d3
}

.public_fixedDataTableRow_columnsShadow {
    background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y
}

.ScrollbarLayout_main {
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    position: absolute;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ScrollbarLayout_mainVertical {
    bottom: 0;
    right: 0;
    top: 0;
    -webkit-transition-property: background-color width;
    transition-property: background-color width;
    width: 15px
}

.ScrollbarLayout_mainVertical.public_Scrollbar_mainActive, .ScrollbarLayout_mainVertical:hover {
    width: 17px
}

.ScrollbarLayout_mainHorizontal {
    bottom: 0;
    height: 15px;
    left: 0;
    -webkit-transition-property: background-color height;
    transition-property: background-color height
}

.ScrollbarLayout_mainHorizontal.public_Scrollbar_mainActive, .ScrollbarLayout_mainHorizontal:hover {
    height: 17px
}

.ScrollbarLayout_face {
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1
}

.ScrollbarLayout_face:after {
    border-radius: 6px;
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease
}

.ScrollbarLayout_faceHorizontal {
    bottom: 0;
    left: 0;
    top: 0
}

.ScrollbarLayout_faceHorizontal:after {
    bottom: 4px;
    left: 0;
    top: 4px;
    width: 100%
}

.ScrollbarLayout_faceVertical {
    left: 0;
    right: 0;
    top: 0
}

.ScrollbarLayout_faceVertical:after {
    height: 100%;
    left: 4px;
    right: 4px;
    top: 0
}

.fixedDataTableCellGroupLayout_cellGroup {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap
}

.fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.fixedDataTableCellGroupLayout_cellGroupWrapper {
    position: absolute;
    top: 0
}

.fixedDataTableCellLayout_main {
    border-right-style: solid;
    border-width: 0 1px 0 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal
}

.fixedDataTableCellLayout_lastChild {
    border-width: 0 1px 1px 0
}

.fixedDataTableCellLayout_alignRight {
    text-align: right
}

.fixedDataTableCellLayout_alignCenter {
    text-align: center
}

.fixedDataTableCellLayout_wrap1 {
    display: table
}

.fixedDataTableCellLayout_wrap2 {
    display: table-row
}

.fixedDataTableCellLayout_wrap3 {
    display: table-cell;
    vertical-align: middle
}

.fixedDataTableCellLayout_columnResizerContainer {
    position: absolute;
    right: 0;
    width: 6px;
    z-index: 1
}

.fixedDataTableCellLayout_columnResizerContainer:hover {
    cursor: ew-resize
}

.fixedDataTableCellLayout_columnResizerContainer:hover .fixedDataTableCellLayout_columnResizerKnob {
    visibility: visible
}

.fixedDataTableCellLayout_columnResizerKnob {
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 4px
}

.fixedDataTableColumnResizerLineLayout_mouseArea {
    cursor: ew-resize;
    position: absolute;
    right: -5px;
    width: 12px
}

.fixedDataTableColumnResizerLineLayout_main {
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10
}

body[dir="rtl"] .fixedDataTableColumnResizerLineLayout_main, .fixedDataTableColumnResizerLineLayout_hiddenElem {
    display: none !important
}

.fixedDataTableLayout_main {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative
}

.fixedDataTableLayout_header, .fixedDataTableLayout_hasBottomBorder {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.fixedDataTableLayout_footer .public_fixedDataTableCell_main {
    border-top-style: solid;
    border-top-width: 1px
}

.fixedDataTableLayout_topShadow, .fixedDataTableLayout_bottomShadow {
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1
}

.fixedDataTableLayout_bottomShadow {
    margin-top: -4px
}

.fixedDataTableLayout_rowsContainer {
    overflow: hidden;
    position: relative;
    /*background-color: whitesmoke;*/
}

.fixedDataTableLayout_horizontalScrollbar {
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.fixedDataTableRowLayout_main {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-bottom-style: solid;
    border-width: 0 0 1px 0;
    border-color: #d3d3d3;
}

.fixedDataTableRowLayout_body {
    left: 0;
    position: absolute;
    top: 0
}

.fixedDataTableRowLayout_fixedColumnsDivider {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-left-style: solid;
    border-left-width: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0
}

.fixedDataTableRowLayout_columnsShadow {
    width: 4px
}

.fixedDataTableRowLayout_rowWrapper {
    position: absolute;
    top: 0
}