.TablePanel_NoData {
    position: absolute;
    top: 60px;
    z-index: 1;
    color: gray;
    font-size: large;
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Overriding default fixed-table css
*/

.public_fixedDataTableCell_main, .public_fixedDataTableCell_cellContent{
    padding: 0 2px;
}

.fixedDataTableRowLayout_rowWrapper {
    font-size: 12px;
}

.fixedDataTableCellLayout_main {
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.public_fixedDataTable_main {
    border-color: var(--joy-palette-neutral-outlinedBorder);
}

.fixedDataTableRowLayout_main div, .fixedDataTableCellLayout_main [role=columnheader]{
    background-color: var(--joy-palette-background-surface, #FBFCFE);
}

.fixedDataTableRowLayout_main.highlighted div {
    background-color: var(--joy-palette-warning-softHoverBg, #FDF0E1);
}

.fixedDataTableRowLayout_main.related div {
    background-color: var(--joy-palette-warning-softBg, #FDF0E1);
}

.fixedDataTableRowLayout_main.no-access div {
    background-color: var(--joy-palette-danger-softBg, #FCE4E4);
}

.fixedDataTableRowLayout_main.no-access-highlighted div {
    background-color: var(--joy-palette-danger-softHoverBg, #F7C5C5);
}

.public_fixedDataTableCell_main, .public_fixedDataTableRow_main, .public_fixedDataTable_scrollbarSpacer,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main,
.public_fixedDataTable_header .public_fixedDataTableCell_main
{
    background-image: none;
    background-color: unset;
    font-weight: unset;
    border-color: var(--joy-palette-neutral-outlinedBorder);
}

.public_fixedDataTableRow_fixedColumnsDivider {
    border-color: var(--joy-palette-neutral-outlinedBorder);
}

.fixedDataTableCellLayout_columnResizerContainer, .public_fixedDataTable_scrollbarSpacer {
    background-color: unset !important;
}

.public_Scrollbar_main.public_Scrollbar_mainActive,
.public_Scrollbar_main {
    background-color: var(--scrollbar-color-track);
    border-color: var(--joy-palette-neutral-outlinedBorder);
}

.public_Scrollbar_mainOpaque,
.public_Scrollbar_mainOpaque.public_Scrollbar_mainActive,
.public_Scrollbar_mainOpaque:hover {
    background-color: var(--scrollbar-color-track);
}

.public_Scrollbar_face:after {
    background-color: var(--scrollbar-color-thumb);
}

.public_Scrollbar_main:hover .public_Scrollbar_face:after,
.public_Scrollbar_mainActive .public_Scrollbar_face:after,
.public_Scrollbar_faceActive:after {
    background-color: var(--scrollbar-color-thumb-active);
}

.public_fixedDataTableRow_columnsShadow {
    background-image: none;
    background-color: unset;
}
