.TablePanel__checkbox {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.TablePanel_NoData {
    position: absolute;
    top: 60px;
    z-index: 1;
    color: gray;
    font-size: large;
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TablePanel__meta {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    border: 1px solid #c8c8c8;
    background-color: #e6e6e6;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.TablePanel__error {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TablePanel__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.TablePanel__table {
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1px;
}

.TablePanel__title {
    height: 18px;
    border-bottom: 1px solid #A2A0A0;
    border-right: 1px solid #A2A0A0;
    border-bottom-right-radius: 4px;
    padding-right: 7px;
    background-color: #E3E3E3;
    display: inline-block;
    align-self: start;
}

.TablePanel__options--small {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 18px;
    height: 18px;
    background-color: #b3b3b3;
    border-bottom-left-radius: 33%;
}
.TablePanel__options--small:hover {
    background-color: #a5a5a5;
    cursor: pointer;
}

.TablePanelOptionsWrapper {
    min-width: 550px;
    min-height: 200px;
    height: 450px;
    width: 650px;
    overflow: hidden;
    position: relative;
    resize: both;
}

.TablePanelOptions {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
}

.TablePanelOptions__button {
    width: 50px;
    height: 20px;
    border: solid 1px #bdbdbd;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    background: none;
}
.TablePanelOptions__button:active {
    background-color: #ffffff;
}

.TablePanelOptions__button:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.TablePanelOptions__filters--box {
}

.TablePanelOptions__filters {
    border: 1px solid #c7c7c7;
    padding: 6px;
    background-color: #eaeaea;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    color: maroon;
}

.TablePanelOptions__pref {
    display: inline-flex;
    font-style: italic;
    color: gray;
    margin-top: 3px;
}

.TablePanel__mask {
    box-sizing: content-box;
    background-color: rgba(255,255,255,.8);
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.TablePanel__mask--button {
    z-index: 1;
    margin-top: 80px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    background-color: rgba(255,255,255,.8);
}

.TablePanel__no-access div {
    background-color: #ffe8e8 !important;
}

.TablePanel__no-access--highlighted div {
    background-color: #ffc1c1 !important;
}

/** table's related styling */

.Actions__anchor {
    padding: 3px;
    border: 1px solid #dadada;
    background-color: #e8e8e8;
    font-size: 9px;
    color: #93aec5;
    border-radius: 2px;
    margin: 1px 1px 2px;
    position: absolute;
    right: 1px;
}

.Actions__dropdown {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 5px 0;
}

.Actions__item {
    padding: 4px 8px;
    margin: 3px 0;
}

.Actions__item:hover {
    cursor: pointer;
    background-color: #efefef;
    margin: 2px 0;
    border-top: 1px solid #e6e6e6;;
    border-bottom: 1px solid #e6e6e6;;
}

.Actions__popup {
    min-width: 75px;
    min-height: 75px;
    padding: 5px;
    overflow: auto;
    position: relative;
    resize: both;
}

.MetaInfo__tree {
    overflow: auto;
    max-width: 400px;
    max-height: 300px;
    border: 1px solid #b3b3b3;
    background-color: white;
    padding: 5px 0;
}

.PagingBar__button {
    height: 16px;
    width: 16px;
    margin-top: 1px;
}

.PagingBar__button:hover {
    background-color: rgba(0,0,0,.15);
    cursor: pointer;
}

.PagingBar__button.first {
    background-image: url("~images/icons-2014/16x16_BackwardToEnd.png");
}

.PagingBar__button.last {
    background-image: url("~images/icons-2014/16x16_ForwardToEnd.png");
}

.PagingBar__button.next {
    background-image: url("~images/icons-2014/16x16_Forward.png");
}

.PagingBar__button.previous {
    background-image: url("~images/icons-2014/16x16_Backward.png");
}

.PanelToolbar__button.info {
    background-image: url("~images/icons-2014/24x24_Info.png");
}

.PanelToolbar__button.options {
    background-image: url("~images/icons-2014/24x24_GearsNEW.png");
}

.PanelToolbar__button.textView {
    background-image: url("~images/icons-2014/24x24_TextView.png");
}

.PanelToolbar__button.tableView {
    background-image: url("~images/icons-2014/24x24_TableView.png");
}

.PanelToolbar__button.save {
    background-image: url("~images/icons-2014/24x24_Save.png");
}

.PanelToolbar__button.clearFilters {
    background-image: url("~images/icons-2014/24x24_FilterOff_Circle.png");
}

.PanelToolbar__button.propSheet {
    background-image: url("~images/icons-2014/36x36-data-info.png");
    background-size: cover;
}

.TablePanelInfoWrapper {
    min-width: 430px;
    min-height: 200px;
    height: 300px;
    width: 550px;
    overflow: auto;
    position: relative;
    resize: both;
}


.CellRenderer__numrange {
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddColumn__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.AddColumn__form > * {
    margin-bottom: 3px;
}

.AddColumn__error {
    color: maroon;
    text-indent: -15px;
    margin-left: 15px;
}

.AddColumn__actions {
    padding: 3px;
    background-color: #d6d6d6;
    border-top: solid 1px #cdcdcd;
}

.AddColumn__datatype {
    display: inline-flex;
    width: 304px;
    justify-content: space-between;
}

/*
Overriding default fixed-table css
*/

.fixedDataTableRowLayout_rowWrapper {
    font-size: 12px;
}

.public_fixedDataTableCell_cellContent {
    padding: 2px;
}


.public_fixedDataTable_header, .public_fixedDataTable_scrollbarSpacer, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: none;
    font-weight: unset;
}

.fixedDataTableLayout_main {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.fixedDataTableRowLayout_main.highlighted div {
    background-color: #ffe8bf !important; /* #d3fad1 */
}

.fixedDataTableRowLayout_main.related div {
    background-color: #faf4e5;
}

