//---------------------------------------------
// adjustable build properties
// below are defaults.
//---------------------------------------------
//gwtLocalWorkers = "6"
//gwtStyle = "OBF"
//gwtMaxHeapSize = "512M"
//gwtDebugAddr = "1234"

tomcat_home = "/hydra/server/tomcat"

environments{
    local {
        gwtDraftCompile = 'true'
        gwtStyle = "PRETTY"
        tomcatDebugStart = 'true'
        webpackDebug = "true"
    }
}

