//---------------------------------------------
// adjustable build properties
// below are defaults.
//---------------------------------------------
//gwtLocalWorkers = "6"
//gwtStyle = "OBF"
//gwtMaxHeapSize = "512M"
//gwtDebugAddr = "1234"

environments{
    local {
        gwtDraftCompile = 'true'
        gwtStyle = "PRETTY"
        tomcatDebugStart = 'true'
    }
}

