<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Project SYSTEM "./tablemapper.dtd">

<!--
    Spitzer Heritage Archive
    Implementation of Simple Image Access Specifications 1.0 2009-11-16 
-->

<TableMapper name="ShaToSiap" 
	     desc="Spitzer Heritage Archive - Simple Image Search"
	     serviceurl="%sha.hostname%/applications/Spitzer/SHA/servlet/DataService">

<!-- required by the standard -->
<VoServiceParam name="POS"
		desc="The position of the region of interest, expressed as the right-ascension and declination of the field center, in decimal degrees using the ICRS coordinate system. A comma should delimit the two values; embedded whitespace is not permitted"
		unit="degrees"
		value="0,0"
		testvalue="163.6136,-11.784"
/>

<!-- required by the standard -->
<VoServiceParam name="SIZE"
		desc="The coordinate angular size of the region given in decimal degrees. The region may be specified using either one or two values. If only one value is given it applies to both coordinate axes."
		unit="degrees"
		value="0.0001"
		testvalue="0.5"
/>

<!-- required by the standard -->
<VoServiceParam name="FORMAT"
		desc="the desired format or formats of the images referenced by the output table. The value is a comma-delimited list where each element can be any recognized MIME-type"
		value="ALL"
		testvalue="image/fits">
  <VoValues>
    <VoOption value="METADATA"/>
    <VoOption value="ALL"/>
    <VoOption value="image/fits"/>
  </VoValues>  
</VoServiceParam>

<!-- service parameter - optional by the standard -->
<VoServiceParam name="VERB"
                desc="Verbosity level, controlling the number of columns returned. Only two levels are supported: 1 (columns sufficient for uniquely describing the image) and 3 (return as much information about the images as possible)"
                value="1"
                testvalue="3">
  <VoValues>
    <VoOption value="1"/>
    <VoOption value="3"/>
  </VoValues>
</VoServiceParam>


<!-- service parameter - not defined by the standard -->
<VoServiceParam name="DATASET"
		desc="Desired dataset. Level1 - basic calibrated data. Level2 - combined data."
		value="ivo://irsa.ipac/spitzer.level1"
		testvalue="ivo://irsa.ipac/spitzer.level2">
  <VoValues>
    <VoOption value="ivo://irsa.ipac/spitzer.level1"/>
    <VoOption value="ivo://irsa.ipac/spitzer.level2"/>
  </VoValues>
</VoServiceParam>



<!-- must be in the output -->
<VoField name="externalname"
	 ucd="VOX:Image_Title"
	 desc="Short description of the image (image external name)">
  <IpacField name="externalname"/>
</VoField>

<!-- must be in the output -->
<VoField name="wavelength"
	 ucd="INST_ID"
	 desc="The instrument and detector used to make the observation">
  <IpacField name="wavelength"/>
</VoField>


<!-- must be in the output -->
<VoField name="ra"
	 ucd="POS_EQ_RA_MAIN"
	 unit="degree"
	 datatype="double"
	 desc="The ICRS right-ascension of the center of the image">
  <IpacField name="ra"/>
</VoField>

<!-- must be in the output -->
<VoField name="dec"
	 ucd="POS_EQ_DEC_MAIN"
	 unit="degree"
	 datatype="double"
	 desc="The ICRS declination of the center of the image">
  <IpacField name="dec"/>
</VoField>

<!-- must be in the output -->
<VoField name="naxes"
	 ucd="VOX:Image_Naxes"
	 datatype="int"
	 defaultvalue="2"
	 desc="The number of image axes"/>

<!-- must be in the output -->
<VoField name="naxis"
	 ucd="VOX:Image_Naxis"
	 datatype="int"
	 arraysize="*"
	 desc="The array value giving the length in pixels of each image axis">
  <IpacField name="naxis1"/>
  <IpacField name="naxis2"/>
</VoField>

<!-- must be in the output -->
<VoField name="cdelt"
	 ucd="VOX:Image_Scale"
	 unit="degrees/pixel"
	 datatype="double"
	 arraysize="*"
	 desc="The array value giving the scale in degrees per pixel of each image axis">
  <IpacField name="cdelt1" format="%1.1E"/>
  <IpacField name="cdelt2" format="%1.1E"/>
</VoField>

<!-- custom field -->
<VoField name="crota2"
	 unit="degrees"
	 datatype="double"
         desc="Rotation angle. Indicates how much the y axis rotated relative to North."
	 optional="true">
  <IpacField name="crota2"/>
</VoField>


<!-- must be in the output -->
<VoField name="dataFormat"
	 ucd="VOX:Image_Format"
	 desc="MIME-type of the object associated with the image access reference">
  <IpacField name="dataFormat"/>
</VoField>

<!-- must be in the output -->
<VoField name="imageAccessUrl"
         ucd="VOX:Image_AccessReference"
	 desc="The URL to be used to access or retrieve the image">
  <IpacField name="accessUrl"/>
</VoField>

<!-- custom field -->
<VoField name="imageAnc1AccessUrl"
         desc="The URL to retrieve the image and important ancillary products (mask, uncertainty, etc.) as a zip archive"
	 optional="true">
  <IpacField name="accessWithAnc1Url"/>
</VoField>

<!-- should be in the output -->
<VoField name="filesize"
         ucd="VOX:Image_FileSize"
	 datatype="int"
	 desc="The actual or estimated size of the encoded image in bytes">
  <IpacField name="filesize"/>
</VoField>

<!-- should be in the output -->
<VoField name="mjDateObs"
	 ucd="VOX:Image_MJDateObs"
	 datatype="double"
	 unit="days"
	 desc="Modified Julian date of the observation">
  <IpacField name="mjDateObs"/>
</VoField>

<!-- should be in the output -->
<VoField name="coordRefFrame"
	 ucd="VOX:STC_CoordRefFrame"
	 defaultvalue="FK5"
	 desc="The coordinate system reference frame, selected from 'ICRS', 'FK5', 'FK4', 'ECL', 'GAL', and 'SGAL'"/>	

<!-- might be in the output, unless ICRS is used  -->
<VoField name="coordEquinox"
         ucd="VOX:STC_CoordEquinox"
         defaultvalue="2000.0"
	 datatype="double"
	 unit="years"
         desc="The Equinox (not required for ICRS) of the coordinate system used for the image world coordinate system (WCS)"/>

<!-- should be in the output -->
<VoField name="coordProjection"
	 ucd="VOX:WCS_CoordProjection"
	 datatype="char"
	 arraysize="3"
	 defaultvalue="TAN"
	 desc="The three-character code specifying the celestial projection, as for FITS WCS"/>

<!-- should be in the output -->
<VoField name="crpix"
	 ucd="VOX:WCS_CoordRefPixel"
	 datatype="double"
	 unit="pixel"
	 arraysize="*"
	 desc="The array value specifying the image pixel coordinates of the WCS reference pixel. This is identical to 'CRPIX' in FITS WCS">
  <IpacField name="crpix1"/> 
  <IpacField name="crpix2"/>   
</VoField>

<!-- should be in the output -->
<VoField name="crval"
	 ucd="VOX:WCS_CoordRefValue"
	 datatype="double"
	 arraysize="*"
	 unit="degrees"
	 desc="The array value specifying the world coordinates of the WCS reference pixel. This is identical to 'CRVAL' in FITS WCS">
  <IpacField name="crval1"/> 
  <IpacField name="crval2"/>     
</VoField>

<!-- should be in the output -->
<VoField name="VOX:WCS_CDMatrix"
	 ucd="VOX:WCS_CDMatrix"
	 datatype="double"
	 arraysize="*"
	 unit="degrees/pixel"
         desc="The array (matrix) value specifying the WCS CD matrix. This is identical to the 'CD' term in FITS WCS, and defines the scale and rotation (among other things) of the image. Matrix elements should be ordered as CD[i,j] = [1,1], [1,2], [2,1], [2,2]">
  <IpacField name="cd11" format="%1.1E"/>
  <IpacField name="cd12" format="%1.1E"/>
  <IpacField name="cd21" format="%1.1E"/>
  <IpacField name="cd22" format="%1.1E"/>
</VoField>


<!-- the value is the same as in INSTR column -->
<!-- should be in the output -->
<VoField name="bandPass_ID"
	 ucd="VOX:BandPass_ID"
	 desc="The bandpass by name (Spitzer bandpass)">
  <IpacField name="wavelength"/>
</VoField>

<!-- should be in the output -->
<VoField name="bandPass_Unit"
	 ucd="VOX:BandPass_Unit"
	 desc="The units used to represent spectral values, selected from 'meters', 'hertz', and 'keV'. No other units are permitted here; the client application may of course present a wider range of units in the user interface"
	 defaultvalue="meters"/>

<!-- should be in the output -->
<VoField name="VOX:BandPass_RefValue"
	 ucd="VOX:BandPass_RefValue"
	 datatype="double"
	 unit="meters"
	 desc="The characteristic (reference) wavelength for the bandpass model.">
  <IpacField name="refWLMeters" format="%1.2E"/>
</VoField>

<!-- should be in the output -->
<VoField name="bandPass_LoLimit"
	 ucd="VOX:BandPass_LoLimit"
	 datatype="double"
	 unit="meters"
	 desc="The lower limit of the bandpass">
  <IpacField name="minWLMeters" format="%1.2E"/>
</VoField>

<!-- should be in the output -->
<VoField name="bandPass_HiLimit"
	 ucd="VOX:BandPass_HiLimit"
	 datatype="double"
	 unit="meters"
	 desc="The upper limit of the bandpass">
  <IpacField name="maxWLMeters" format="%1.2E"/>
</VoField>

<!-- should be in the output -->
<VoField name="imagePixFlags"
	 ucd="VOX:Image_PixFlags"
	 desc="The type of processing done by the image service to produce an output image pixel. C means the image pixels were copied from a source image without change."
	 defaultvalue="C"/>

<!-- custom field -->
<VoField name="reqkey"
	 datatype="int"
         desc="Unique integer identifying an Astronomical Observation Request (AOR)"
	 optional="true">
  <IpacField name="reqkey"/>
</VoField>

<!-- custom field -->
<VoField name="reqtype"
	 desc="Astronomical Observation Template (AOT) used"
         optional="true">
  <IpacField name="modedisplayname"/>
</VoField>

<!-- custom field -->
<VoField name="cra"
	 desc="Right Ascension in sexigesimal format HHMMSS J2000, of the FITS image."
         optional="true">
  <IpacField name="cra"/>
</VoField>

<!-- custom field -->
<VoField name="cdec"
         desc="Declination in sexagesimal format DDMMSS J2000, of the FITS image."
         optional="true">
  <IpacField name="cdec"/>
</VoField>

<!-- custom field -->
<VoField name="ptcomment"
         desc="Product type comment"
         optional="true">
  <IpacField name="ptcomment"/>
</VoField>

<!-- custom field -->
<VoField name="begintime"
         desc="Observation start time"
         optional="true">
  <IpacField name="begintime"/>
</VoField>

<!-- custom field -->
<VoField name="endtime"
         desc="Observation end time"
         optional="true">
  <IpacField name="endtime"/>
</VoField>

<!-- custom field -->
<VoField name="corner1"
         desc="Position of the lower left image corner [pixel space, where first pixel is located at (0.5, 0.5), position (ra1, dec1) = (0.5, 0.5)]"
         datatype="double"
         arraysize="2"
	 unit="degrees"
         optional="true">
  <IpacField name="ra1"/>
  <IpacField name="dec1"/>
</VoField>

<!-- custom field -->
<VoField name="corner2"
         desc="Position of the lower right image corner [pixel space, where first pixel is located at (0.5, 0.5), position (ra2, dec2) = (NAXIS1 + 0.5, 0.5)]"
         datatype="double"
         arraysize="2"
         unit="degrees"
         optional="true">
  <IpacField name="ra2"/>
  <IpacField name="dec2"/>
</VoField>


<!-- custom field -->
<VoField name="corner3"
         desc="Position of the upper right image corner [pixel space, where first pixel is located at (0.5, 0.5), position (ra3, dec3) = (NAXIS1 + 0.5, NAXIS2 + 0.5)]"
         datatype="double"
         arraysize="2"
         unit="degrees"
         optional="true">
  <IpacField name="ra3"/>
  <IpacField name="dec3"/>
</VoField>

<!-- custom field -->
<VoField name="corner4"
         desc="Position of the upper left image corner [pixel space, where first pixel is located at (0.5, 0.5), position (ra4, dec4) = (0.5, NAXIS2 + 0.5)]"
         datatype="double"
         arraysize="2"
         unit="degrees"
         optional="true">
  <IpacField name="ra4"/>
  <IpacField name="dec4"/>
</VoField>

</TableMapper>
