/*
 * License information at https://github.com/Caltech-IPAC/firefly/blob/master/License.txt
 */


.api-expanded {
    padding: 3px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 7px;
    right: 7px;
    box-shadow: 7px 7px 7px -3px rgba(0,0,0,0.75);
    border: 1px solid #b3b3b3;
    border-top: 4px groove;
    border-left: 4px groove;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 100;
}