{
  "plugins": [
     "react"
   ],
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions" : true,
    "binaryLiterals" : true,
    "blockBindings": true,
    "classes" : true,
    "defaultParams" : true,
    "destructuring" : true,
    "forOf": true,
    "jsx": true,
    "modules" : true,
    "objectLiteralComputedProperties" : true,
    "objectLiteralShorthandMethods" : true,
    "objectLiteralShorthandProperties" : true,
    "octalLiterals" : true,
    "spread" : true,
    "superInFunctions" : true,
    "templateStrings" : true
  },
  "rules": {
    "comma-spacing": 0,
    "curly": [2, "multi-line"],
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "no-console": 0,
    "no-empty": 1,
    "no-undef": 2,
    "no-use-before-define": 0,
    "no-unused-vars": 1,
    "object-shorthand": 1,
    "prefer-const": 1,
    "prefer-spread": 1,
    "prefer-reflect": 1,
    "prefer-template": 1,
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": [1, "single"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": [1, {"ignore": ["children"]}],
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    "semi": [2, "always"],
    "space-infix-ops": 0,
    "quotes": [2, "single", "avoid-escape"]

//    "react/display-name": 1,
//    "react/forbid-prop-types": 1,
//    "react/jsx-closing-bracket-location": 1,
//    "react/jsx-curly-spacing": 1,
//    "react/jsx-indent-props": 1,
//    "react/jsx-max-props-per-line": 1,
//    "react/jsx-no-literals": 1,
//    "react/jsx-sort-prop-types": 1,
//    "react/jsx-sort-props": 1,
//    "react/no-multi-comp": 1,
//    "react/no-set-state": 1,
//    "react/require-extension": 1,
//    "react/sort-comp": 1,
  }
}
