#
# =======================================================================
# ------ Ignore file of the "ife" repository
# =======================================================================
#
# -- ignore tmp files that are produce by programs such a vim, python and finder
#
*.ipr
*.iws
*.iml
*.swp
*.iml
*.pyc
.DS_Store
*~

# -- ignore IntelliJ project files
.idea/


# -- ignore the build directories
build/
jars/build/
.gradle/


# ignore javascript dependencies
node_modules/

# eclipse environment
.classpath
.project
.settings/
