
/* convenience styles ... designed for composition */

.flow-h {
    display: inline-flex;
    justify-content: space-between;
}

.flow-v {
    display: flex;
    flex-direction: column;
}

.tpl {
    --tpl-height: 300px;
    height: var(--tpl-height);
}
.tpl.xs {
    --tpl-height: 150px;
    height: var(--tpl-height);
}
.tpl.sm {
    --tpl-height: 200px;
    height: var(--tpl-height);
}
.tpl.med {
    --tpl-height: 350px;
    height: var(--tpl-height);
}
.tpl.lg {
    --tpl-height: 400px;
    height: var(--tpl-height);
}
.tpl.xl {
    --tpl-height: 450px;
    height: var(--tpl-height);
}

.box {
    width: calc(var(--tpl-height) * 1);
    flex-grow: 1;
    margin: 2px;
}

.box.xs  { width: calc(var(--tpl-height) * .5); }
.box.sm  { width: calc(var(--tpl-height) * .67); }
.box.x2  { width: calc(var(--tpl-height) * 2); }
.box.x3  { width: calc(var(--tpl-height) * 3); }
.box.x4  { width: calc(var(--tpl-height) * 4); }

.source-code {
    font-family: monospace;
    white-space: pre;
    padding: 0 5px;
}

ul.expected-list li{
    list-style-type: circle;
}

.source-code.indent-2 {margin-left: -4ch;}
.source-code.indent-2 {margin-left: -8ch;}
.source-code.indent-3 {margin-left: -12ch;}
.source-code.indent-4 {margin-left: -16ch;}
.source-code.indent-5 {margin-left: -20ch;}




/******************************************************************************************************/
/* styles below are used by the framework.  it is not recommended to be used in individual test cases */
/******************************************************************************************************/

.rootStyle {
    padding: 0 !important;
}

#tst-container {
    display: flex;
    padding: 3px;
    margin: 5px 10px;
    flex-direction: column;
}
.tst-iframe-container {
    overflow: hidden;
}

.tst-iframe-container iframe {
    border: 0;
    width: 100%;
    resize : both;
    display: flex;
    background-color: rgba(0,0,0, .04);
    margin-bottom: 5px;
}

#tpl-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tpl-test-container {
    background-color: antiquewhite;
    border: 1px solid #e6d3bb;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
}

.tpl-item-box {
    display: flex;
    padding: 3px;
    margin: 5px;
    flex-direction: column;
}
.tpl-expected, .tpl-actual, #tpl-source-code-container {
    background-color: #e3e3e3;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-grow: 1;
}

#tpl-source-code-container {
    overflow-y: auto;
}

.tpl-label {
    display: inline-flex;
    justify-content: space-between;
}

#source-code-container {
    overflow: auto;
    min-width: 0;
}

