.LCPanels__PanelResizableStyle {
    width: 400px;
    min-width: 400px;
    height: 300px;
    min-height: 300px;
    overflow: auto;
    background-color: #b3edff;
    padding: 2px;
    position: relative
}

.LCPanels__Header {
    white-space: nowrap;
    height: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 2px;
    font-size: large
}

.LCPanels__selectionBtn {
    padding: 0 5px;
    cursor: pointer;
}

.Resizer.vertical.disabled:hover {
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
}

.Resizer.disabled {
    cursor: auto;
}