.PanelResizableStyle {
    width: 400px;
    min-width: 400px;
    height: 300px;
    min-height: 300px;
    overflow: auto;
    background-color: #b3edff;
    padding: 2px;
    position: relative
}

.Header {
    white-space: nowrap;
    height: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 2px;
    font-size: large
}

.selectionBtn {
    padding: 0 5px;
    cursor: pointer;
}