
.banner__main {
    display: inline-flex;
    width: 100%;
    height: 75px;
    position: relative;
    background: url("/images/ipac_bar.jpg");
}

.banner__left {
    flex-grow: 0;
}

.banner__middle {
    flex-grow: 1;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.banner__right {
    flex-grow: 0;
}

.banner__middle--title {
    letter-spacing: 1px;
    margin-left: 10px;
    color: white;
    font-size: 25pt;
    font-family: sans-serif;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(195,235,234, 0.79);
    white-space: nowrap;
}

.banner__middle--readout {
    display: inline-flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.banner__middle--menu {
    flex-grow: 0;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}