
.ff-MenuItem-dropDown {
    padding: 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(245,245,245,.97);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.ff-MenuItem-dropDown .menuItemText {
    font-size: 10pt;
    line-height: 14pt;
}

.ff-MenuItem-dropDown .menuItemText:HOVER {
    background-color: rgba(255,255,255,.97);
}
