
.ImageSelect__action {
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.ImageSelect__toolbar {
    /*flex-grow: 0;*/
    /*background-color: #f5f5f5;*/
    height: 50px;
    min-height: 50px;
    padding: 3px 6px;
    display: flex;
    flex-direction: column;
}

.ImageSelect__toolbar--popup {
    z-index: 1;
    background-color: var(--joy-palette-background-surface,white);
    position: absolute;
    width: calc(100% - 6px);
    top: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #bbbaba;
    padding: 1px 6px;
    height: 4.5rem;
    margin-left: -1px;
}
