
.ImageSelect__toolbar--popup {
    z-index: 1;
    background-color: var(--joy-palette-background-surface,white);
    position: absolute;
    width: calc(100% - 6px);
    top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #bbbaba;
    padding: 1px 6px;
    height: 2.75rem;
    margin-left: -1px;
}
