.menu__main {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 28px;
}

.menu__item--holder > * {
    margin: 0 3px;
}

.menu__item {
    display:inline-flex;
    justify-content: center;
    box-shadow:inset 0 1px 0 0 #BED0DB;
    background-color:#89A6B8;
    border-radius:3px;
    text-indent:0;
    border:1px solid #1A2027;
    color:#1A2027;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.125em;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow:1px 1px 0 #ADB9C5;
    white-space: nowrap;
    padding:6px 5px;
    min-width: 75px;
}

.menu__item--badge {
    display: inline-block;
    position: relative;
    width: 15px;
    top: -6px;
    right: -3px;
}

.menu__item-selected {
    background-color:#A6A6A7;
}

.menu__item:active {
    position:relative;
    top:1px;
}

.menu__item:hover {
    background-color:#A8BFD5;
    cursor: pointer;
}

.menu__item:hover .menu__item-selected {
    background-color:#A6A6A7;
}


.SearchPanel {
    font-family: tahoma, arial, helvetica, sans-serif;
    display: inline-flex;
    min-width: 800px;
    min-height: 400px;
    margin: -3px;
}

.SearchPanel__sidebar {
    flex-grow: 0;
    min-width: 150px;
    font-size: 11px;
    background-color: rgba(0,0,0,0.075);
    border-right: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    white-space: nowrap;
}

.SearchPanel__group {
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: inside circle;
}

.SearchPanel__group > * {
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    color: #005da4;
    padding: 3px 10px;
    margin-left: -5px;
}

.SearchPanel__form {
    flex-grow: 1;
    padding: 5px 5px 1px;
}

.SearchPanel__searchItem--selected {
    font-weight: bold;
}

.SearchPanel__searchItem {
    cursor: pointer;
}

.SearchPanel__searchItem:hover{
    color: #49a344;
}