.menu__item-label {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.125em;
}

.menu__item {
    \-moz-box-shadow:inset 0px 1px 0px 0px #BED0DB;
    \-webkit-box-shadow:inset 0px 1px 0px 0px #BED0DB;
    box-shadow:inset 0px 1px 0px 0px #BED0DB;
    background-color:#89A6B8;
    \-webkit-border-top-left-radius:3px;
    \-moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    \-webkit-border-top-right-radius:3px;
    \-moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    \-webkit-border-bottom-right-radius:3px;
    \-moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    \-webkit-border-bottom-left-radius:3px;
    \-moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
    text-indent:0;
    border:1px solid #1A2027;
    display:inline-block;
    color:#1A2027;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ADB9C5;
    margin-left:5px;
    padding:0 2px;
}

.menu__item-selected {
    background-color:#A6A6A7;
}

.menu__item:active {
    position:relative;
    top:1px;
}

.menu__item:hover {
    background-color:#A8BFD5;
    cursor: pointer;
}

.menu__item:hover .menu__item-selected {
    background-color:#A6A6A7;
}

