.ModalWindow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ModalDialog__content {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);
    background-color: #E5E5E5;
    margin: 5px 3px;
    padding: 3px;
    border: 1px solid rgba(0,0,0, .75);
    border-radius: 3px;
}