.DropDownToolBar  .content {
    background-color: rgba(200,200,200,0.92);  /* special case.. declaring color and alpha at the same time*/
    padding: 5px 5px 5px 5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 2px solid;
    border-color: #595959;
    height: 100%;
}

.DropDownToolBar  .content .header {
    background-color: rgb(200,200,200);  /* make header not transparent */
}

.DropDownToolBar  .content .shadow {
    \-moz-box-shadow:inset 0 0 3px #000000;
    \-webkit-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
    background-color: #E5E5E5;
    padding: 3px;
    display: table;
}


.DropDownToolBar .footer {
    background-color: #e3e3e3;
}



.footer_wrapper {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    line-height: 18px;
    background: url("/images/ipac_bar.jpg") repeat center center transparent;
    display: block;
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
}

.footer_wrapper  a{
    color: #fff;
    text-decoration: none;
}

.footer_wrapper  a:hover {
    color: #ccc;
    text-decoration: none
}


.footer_wrapper .footer-panel {
    color: #fff
}

.footer_wrapper .footer-panel ul {
    list-style-type: none
}

.footer_wrapper .footer-panel ul li {
    margin-bottom: 5px;
    background-position: 0px 4px;
    background-image: url("/images/footer/bullet.png");
    background-repeat: no-repeat;
    padding-left: 10px
}

.footer_wrapper .footer-panel ul li a {
    font-size: 14px;
    line-height: 16px
}

.footer_wrapper .footer-panel .affiliates img {
    margin-left: 15px
}

.footer_wrapper .footer-panel .disclaimer {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #bbb
}

.footer-span5 {
    width: 415px;
    float: none;
    display: inline;
    margin-left: 100px;
}

.footer-contact {
    width: 220px;
    float: left;
    margin-right: 5px;
}


.google-search {
    /*background-color: #cadbe1;*/
    /*background-color: rgba(201, 219, 225, 0.4);*/
    /*background-color: #000000;*/
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 3px;
    /*margin-right: auto;*/
    /*margin-top: 80px;;*/
    padding: 10px 8px 10px 8px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    vertical-align:top;
}

.google-search input {
    line-height: 10pt;
    font-size: 10pt;
    width: 170px
;
}

.google-search button{
    font-size: 9pt;
    padding: 2px 2px 2px 2px;
    margin: -7px 0px 0px -2px;
}


.footer-row {
    margin-left: -20px;
    *zoom: 1
}

/*.footer-row:before, .row:after {*/
/*display: table;*/
/*content: ""*/
/*}*/

/*.footer-row:after {*/
/*clear: both*/
/*}*/

.footer-container {
    width: 725px;
    margin-right: auto;
    margin-left: auto;
}


@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: local('Varela'), url(http://themes.googleusercontent.com/static/fonts/varela/v4/maB5vWJo0EAVzvHPjBkLM-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}


