/*
 * License information at https://github.com/Caltech-IPAC/firefly/blob/master/License.txt
 */

.ff-MenuItem {
    cursor: pointer;
    border : 2px solid transparent;
    white-space: nowrap;
    position: relative;
}

.ff-MenuItem-dark:HOVER {
    background-color: rgba(255,255,255,.97) !important;
}

.ff-MenuItem-light:HOVER {
    background-color: rgba(0,0,0,.07) !important;
}

.ff-badge {
    position: absolute;
    right: -3px;
    top: -4px;

    font-size: 10px;
    font-weight: normal;
    color : white;
    /*background-color: rgba(255,0,0,.8);*/
    background-color: rgb(71, 138, 163);
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border: 2px ridge white;

    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.5);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.5);
    box-sizing: content-box;
}

.ff-menuItemHText {
    display: inline-block;
    padding-top: 4px;
}

.ff-menuItemHText-last {
    /*padding: 3px;*/
}


.badge-1-digit {
    width: 9px;
    padding-left: 3px;
    padding-right: 0;
}

.badge-2-digit {
    width: 10px;
    padding-left: 1px;
    padding-right: 2px;
}


.ff-MenuItem-disabled {
    pointer-events: none;
    opacity: 0.3;
    /*filter: alpha(opacity\=30);*/
}

.firefly-MenuItem-v2-attention {
    -moz-animation:attentionAnimation 5s linear 1s 10 normal;
    -webkit-animation:attentionAnimation 5s linear 1s 10 normal;
    -o-animation:attentionAnimation 5s linear 1s 10 normal;
    animation:attentionAnimation 5s linear 1s 10 normal;
}

.ff-MenuItem-active {
    border: 2px solid rgba(245,245,245,.97);
}


.ff-horizontal-separator {
    position : relative;
    width: 0;
    height: 27px;
    display: inline-block;
    vertical-align: baseline;
    border-style: solid;
    border-color: rgba(136,166,185,1);
    border-width : 0 1px;
    margin: 0 10px;
    -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);

    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(136,166,185,1);
}

.ff-vertical-separator {
    height: 4px;
}
