.Version-grid {
    user-select: text;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.Version-grid-warning {
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
    color: red;
    padding-top:10px
}
