

.DLGeneratedDropDown__section--title {
    color: #005da4;
    font-size: large;
    font-weight: bold;
}

.DLGeneratedDropDown__section--title-allsky {
    font-weight: normal;
    font-style: italic;
}
