/*
 * License information at https://github.com/Caltech-IPAC/firefly/blob/master/License.txt
 */





.iv-decorate-inline-toolbar-container {
    position : absolute;
    right : 0;
    top : 0;
    padding : 2px 0 0 2px;
    whiteSpace : nowrap;
    border-radius: 0 0 0 5px;
}
