/*
 * License information at https://github.com/Caltech-IPAC/firefly/blob/master/License.txt
 */





.iv-decorate-inline-toolbar-container {
    position : absolute;
    right : 0;
    top : -1px;
    /*padding : 2px 0 0 2px;*/
    white-space : nowrap;
    border-radius: 0 0 0 5px;
    background: rgb(227,227,227);
}
