/* @override http://localhost:8080/heritage/heritage.css */


/* Begin: General styles*/

* {
    margin : 0px;
    padding : 0px;
}

img, html {
    border:0 none;
}

body {
    background-color: #e3e3e3;
    padding: 2px 1px 0px 1px;
    border:0 none;
    line-height: 1.125em;
}


em {
    font-weight: bold;
}


body, table td, select * {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 11px;
    }

/* End: General styles*/


#loading {
  position: absolute;
  left: 45%;
  top: 40%;
  margin-left: -45px;
  padding: 2px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
}

#loading a {
  color: #225588;
}

#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px arial,tahoma,helvetica,sans-serif;
  padding: 10px;
  margin: 0;
  height: auto;
}

#loading .loading-indicator img {
  margin-right:8px;
  float:left;
  vertical-align:top;
}

#loading-msg {
  font: normal 10px arial,tahoma,helvetica,sans-serif;
}



.download-sel-dialog-desc {
	/*border: 2px solid black !important;*/ 
    padding : 10px 30px 8px 3px !important;
    width: 6cm;
    margin-left: auto;
    margin-right: auto;
    font : message-box;
}

.download-sel-dialog-dataops {
    padding : 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*border: groove 2px green;*/
}

.download-sel-dialog-dataops-sub {
    margin-left: 10px;
}

.download-sel-dialog-wl {
    padding : 5px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 20;*/
/*border: groove 2px green;*/
}

.download-sel-dialog-dataops.highlight-dataops {
    border: groove 2px green;
}


.download-sel-dialog-dataops label {
    padding-left : 5px;
}

.download-sel-dialog-dataops span.gwt-CheckBox {
    xpadding-left : 80px;
}


.download-sel-buttons {
    padding : 5px 3px 2px 3px;
  /*  border-top: 1px solid black; */
    float: right;
}

.download-sel-buttons  td {
    padding : 10px 5px 5px 20px;
 }

.download-sel-buttons  .cancel {
    color: black;
    font-style : normal;
    font-weight: normal;
 }

.download-sel-buttons  .ok {
    color: blue;
    font-weight : bold;
 }

.download-sel-IracWL label{
    padding-left: 5px;
}

.download-sel-IracWL {
    margin-left: 30px;
    margin-top: 15px;
}

.download-sel-wl-title {
    font-weight: bold;
    font-size: 10pt;
    
}


.download-sel-MipsWL label{
    padding-left: 5px;
}

.download-sel-MipsWL {
    margin-left: 30px;
    margin-top: 15px;

}

.download-sel-IrsWL {
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 15px;
    margin-top: 12pt;
}

.ShowDownloadManagerCmd {
	/*text-align: right;*/
	/*xborder : 2px solid;*/
	/*xwidth : 300;*/
	/*padding-left: 300px !important;*/
    /*margin-left: 400px !important;	*/
}

.ShowDownloadManagerCmd img.gwt-Image {
	width : 20px;
	height : 20px;
}

.banner-links {
    color: #0000CC;
    font: 12pt arial,tahoma,helvetica,sans-serif;
    margin: 10px;
    padding: 2px 15px 2px 15px;
    cursor: pointer;
    text-decoration:none;
    /*outline:gray inset 1px;*/

}


.banner-links:hover {
    color: #CCFFFF;
}

.nav-pop-links {
    color: #0000CC;
    font: 12pt arial,tahoma,helvetica,sans-serif;
    margin: 10px;
    cursor: pointer;
    text-decoration:none;
    padding: 2px 4px 2px 15px;
/*outline:gray inset 1px;*/
}

.nav-pop-links:hover {
    color: #008800;
}


.banner {
    background: #e3e8f3 url(images/banner_bg.gif) repeat-x;
}

.aor-details-panel {
}

.aor-details-panel .vsplitter {
    margin-top: 2px;
    cursor: move;
}

.aor-details-disabled-splitter {
}

.aor-details-disabled-splitter  .vsplitter {
    visibility: hidden;
}


.aor-details-abstract {
    padding : 3px;
}

.about-page {
    font-family:  serif,tahoma,arial,helvetica,sans-serif;
    font-size:  12pt;
    line-height: 1;
}
a.about-page {
    font-size:  14pt;
    font-style: italic;
    color:      red;
    text-decoration:underline;
}
a.about-page-small {
    font-size:  11pt;
    font-style: italic;
    color:      blue;
    text-decoration:underline;
}

a.legacy {
    font-family:  serif,tahoma,arial,helvetica,sans-serif;
    font-size:  12pt;
    color:      blue;
    text-decoration: underline;
}
