.ChartPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border: 2px solid transparent;
}

.ChartPanel--active {
    border: 2px solid orange;
}

.ChartPanel__container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.ChartPanel__wrapper {
    position: relative;
    background-color: #c8c8c8;
    flex-grow: 1;
    border: 1px solid #b3b3b3;
}

.ChartPanel__toolbar {
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.ChartPanel__toolbar--offsetLeft {
    left: 100px;
}

.ChartPanel__chartarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.ChartPanel__chartarea--withToolbar {
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 1px;
    right: 0
}

.ChartPanel__chartresizer {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ChartPanelOptions {
    position: absolute;
    padding: 0 7px;
    top: 1px;
    right: 1px;
    bottom: 2px;
    background-color: beige;
    border-left: 1px solid #CCC;
    z-index: 100;
    flex: 0 0 auto;
    overflow-x: auto;
    overflow-y: scroll;
    margin-right: -17px;
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.50);
}


.ChartToolbar {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}

.ChartToolbar__buttons {
    display: inline-flex;
}

.ChartToolbar__buttons > * {
    width: 24px;
    height: 24px;
    margin: 0 1px;
    cursor: pointer;
}

.ChartToolbar__buttons > *.selected {
    box-shadow: 0 3px 0 darkred;
}

.ChartToolbar__buttons > *:hover {
    background-color: rgba(0,0,0, .15);
}

.ChartToolbar__help {
    display: inline-block;
    position: relative;
    top: 0;
    align-self: baseline;
    padding: 2px;
}

.ChartToolbar__zoom {
    background-image: url("/images/icons-2014/24x24_ZoomIn.png");
}

.ChartToolbar__pan {
    background-image: url("/images/icons-2014/pan.png");
}

.ChartToolbar__turntable {
    background-image: url("/images/turntable-tmp.png");
}

.ChartToolbar__orbital {
    background-image: url("/images/orbital-tmp.png");
}

.ChartToolbar__select {
    background-image: url("/images/icons-2014/select.png");
}

.ChartToolbar__tblfilters {
    background-image: url("/images/icons-2014/24x24_Filter.png");
}

.ChartToolbar__options {
    background-image: url("/images/icons-2014/24x24_GearsNEW.png");
}

.ChartToolbar__save {
    background-image: url("/images/icons-2014/24x24_Save.png");
}

.ChartToolbar__expand {
    background-image: url("/images/icons-2014/24x24_ExpandArrowsWhiteOutline.png");
}

.ChartToolbar__reset-zoom {
    background-image: url("/images/icons-2014/Zoom1x-24x24-tmp.png");
}

.ChartToolbar__filter {
    background-image: url("/images/icons-2014/24x24_FilterAdd.png");
}

.ChartToolbar__clear-filters {
    background-image: url("/images/icons-2014/24x24_FilterOff_Circle.png");
}

.ChartToolbar__selected {
    background-image: url("/images/icons-2014/24x24_Checkmark.png");
}

.ChartToolbar__clear-selected {
    background-image: url("/images/icons-2014/24x24_CheckmarkOff_Circle.png");
}

.ChartOptions {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
    height: 100%;
    background-color: beige;
}


