.ChartPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border: 2px solid transparent;
}

.ChartPanel--active {
    border: 2px solid orange;
}

.ChartPanel--default {
    border: 3px solid #8cb3da;
    border-radius: 2px;
}

.ChartPanel__container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.ChartPanel__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #c8c8c8;
    flex-grow: 1;
    border: 1px solid #b3b3b3;
}

.ChartPanel__toolbar {
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.ChartPanel__toolbar--offsetLeft {
    left: 100px;
}

.ChartPanel__chartarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ChartPanel__section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top-left-radius: 3px;
    overflow: hidden;
}

.ChartPanel__section--title .label {
    border: 1px solid #b3b3b3;
    height: 17px;
    padding: 3px 15px 0;
    border-top-left-radius: 5px;
    background-color: #c8c8c8;
    z-index: 1;
    border-bottom: none;
}

.ChartPanel__section--title {
    display: inline-flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: flex-start;
    height: 21px;
    margin-left: 5px;
    margin-bottom: -1px;
}

.ChartPanel__section--title.tabs {
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}


.ChartPanel__glass {
    background-color: transparent
}

.ChartPanel__chartresizer {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ChartPanelOptions {
    position: absolute;
    padding: 0 7px;
    top: 1px;
    right: 1px;
    bottom: 2px;
    background-color: beige;
    border-left: 1px solid #CCC;
    z-index: 100;
    flex: 0 0 auto;
    overflow-x: auto;
    overflow-y: scroll;
    margin-right: -17px;
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.50);
}


.ChartToolbar {
    display: inline-flex;
    height: 30px;
    align-items: center;
}

.ChartToolbar.container {
    display: inline-flex;
    align-items: center;
}
.ChartToolbar.container .button {
    line-height: 2;
    margin-right: 10px;
}

.TabPanel__Content .ChartPanel__wrapper {
    border: unset;
}

.ChartToolbar__buttons {
    display: inline-flex;
}

.ChartToolbar__buttons > * {
    width: 24px;
    height: 24px;
    margin: 0 1px;
    cursor: pointer;
}

.ChartToolbar__buttons > *.selected {
    box-shadow: 0 3px 0 darkred;
}

.ChartToolbar__buttons > *:hover {
    background-color: rgba(0,0,0, .15);
}

.ChartToolbar__help {
    display: inline-block;
    position: relative;
    top: 0;
    align-self: baseline;
    padding: 2px;
}

.ChartToolbar__restore {
    background-image: url("~images/icons-2014/RevertToDefault-24x24.png");
}

.ChartToolbar__zoom {
    background-image: url("~images/icons-2014/24x24_ZoomIn.png");
}

.ChartToolbar__pan {
    background-image: url("~images/icons-2014/pan.png");
}

.ChartToolbar__turntable {
    background-image: url("~images/turntable-tmp.png");
}

.ChartToolbar__orbital {
    background-image: url("~images/orbital-tmp.png");
}

.ChartToolbar__select {
    background-image: url("~images/icons-2014/select.png");
}

.ChartToolbar__tblfilters {
    background-image: url("~images/icons-2014/24x24_Filter.png");
}

.ChartToolbar__options {
    background-image: url("~images/icons-2014/24x24_GearsNEW.png");
}

.ChartToolbar__save {
    background-image: url("~images/icons-2014/24x24_Save.png");
}

.ChartToolbar__expand {
    background-image: url("~images/icons-2014/24x24_ExpandArrowsWhiteOutline.png");
}

.ChartToolbar__reset-zoom {
    background-image: url("~images/icons-2014/Zoom1x-24x24-tmp.png");
}

.ChartToolbar__filter {
    background-image: url("~images/icons-2014/24x24_FilterAdd.png");
}

.ChartToolbar__clear-filters {
    background-image: url("~images/icons-2014/24x24_FilterOff_Circle.png");
}

.ChartToolbar__selected {
    background-image: url("~images/icons-2014/24x24_Checkmark.png");
}

.ChartToolbar__clear-selected {
    background-image: url("~images/icons-2014/24x24_CheckmarkOff_Circle.png");
}

.ChartToolbar__pin {
    background-image: url("~images/icons-2014/24x24_Save.png");
}

.CombineChart__popup {
    min-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    resize: both;
    overflow: hidden;
}

.CombineChart__popup > * {
    margin-bottom: 5px;
}

.CombineChart__popup--tbl {
    flex-grow: 1;
    min-height: 100px;
    height: 1px;
}

.CombineChart__hints {
    font-size: x-small;
    font-style: italic;
    color: grey;
}

.CombineChart__popup--tbar {
    border-top: solid 1px #c4c4c4;
    padding: 5px;
    margin: 0 -4px -4px -4px;
;}


/* hide the popup doubleclick tooltips since we turned it off */
div.plotly-notifier {
    visibility: hidden;
}