/*right list of table with catalog names to be selected*/
.catalogtable {
    /*flex: 1;*/
    width: auto;
    overflow: auto;
    height: 300px;
    /*!* Grow to rest of container *!*/
}

.marked-text {
    color: #49a344;
    font-size: 80%;
}

table {
    border: 1px solid #a3aeb9;
    margin-left: 30px;
}

td{
    padding: 5px;
}