/*left dropdown list and selectors*/
.ddselectors {
    margin: 10px 5px 10px 5px;
    height: 260px;
}

.spatialsearch {
    padding: 10px;
    width: 490px;
    height: 260px;
    margin: 10px 10px 0 5px;
}

.ddtable {
    max-width: 100%;
    min-height: 250px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.expand-dd-table:hover + .ddtable { /* Uses the adjacent sibling selector */
    visibility: visible; /* Or display: block */
}