/*Main parent*/
div.catalogpanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*left dropdown list and selectors*/
div.ddselectors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}