/*right list of table with catalog names to be selected*/
.catalogtable {
    height: 300px;
    width: 350px;
    overflow: auto;
    border: 1px solid #a3aeb9;
    margin-left: 30px;
}

.marked-text {
    color: #49a344;
    font-size: 80%;
}

.normal-text {
    font-size: 80%;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: black;
}

.href-item {
    color: #005da4;
    font-style: italic;
    cursor: pointer;
    font-size: 80%;
}

.item-cell-title {
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
}

.cell {
    padding: 5px 0 5px 0;
}

.table-title {
    margin-left: 30px;
    padding: 5px 0 5px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max width after '...' appear should be same as the .catalotable:*/
    max-width: 350px;
    white-space: nowrap;
}