div.imagepanel  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px;
    background: white;
    border-left: 20px solid #c8c8c8;
    border-right: 20px solid #c8c8c8;
}

div.section {
    margin-top: 10px;
    padding-left: 19%;
}

div.intarget {
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

div.targetnel {
    display: flex;
    flex-direction: column;
    align-item: flex-start;
}

div.size {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    border-bottom: 2px solid #c8c8c8;
    height: 60px;
}

div.close {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    background: #c8c8c8;
    width: 1000px;
    height: 80px;
}

div.left {
    float: left;
}

div.cataloglist {
    display: inline-block;
    padding: 15px 10px 25px 10px
}

div.cataloglist_nottop {
    display: inline-block;
    padding: 15px 10px 10px 10px
}

div.sizeinput {
    display: flex;
    align-items: center;
    justtify-content: flex-start;
}

div.sizeline {
    padding: 10px;
    height:  60px;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 20px;
}

div.sizeempty {
    padding: 10px;
    height: 60px;
    margin-bottom: 20px;
}

div.padding {
    padding: 15px 10px 15px 10px
}

div.padding_top {
    padding: 15px 10px 24px 10px
}

div.padding_nottop {
    padding: 0px 10px 10px 10px;
}

div.padding_noleft {
    padding: 10px 10px 10px 0px;
}

div.tabview {
    width: 560px;
}