
.mouseReadoutDisplaySpace {
    width: 698px;
    min-width: 660px;
    height: 34px;
    min-height: 34px;
    position: absolute;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.mouseReadoutImageGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  60px 90px 80px 105px 74px 0 160px  130px;
    grid-template-rows :  auto;
    grid-template-areas:
            "greenLabel greenValue pixSizeLabel pixSizeValue pixReadoutTopLabel clipboardIconTop pixReadoutTopValue plotTitle"
            "blueLabel blueValue redLabel redValue pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue lock";
}

.mouseReadoutImageGrid-withclip {
    grid-template-columns :  60px 90px 80px 105px 74px 12px 160px  130px;
}


.miniMouseReadoutSingleImageGrid {
    display: grid;
    align-items: start;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  minmax(20px,24px) minmax(50px,65px) 12px minmax(11em,12em) minmax(30px,60px) minmax(42px,auto) min-content minmax(30px,max-content);
    grid-template-rows :  auto;
    grid-template-areas:
            "popout pixReadoutLabel clipboardIcon pixReadoutValue fluxLabel fluxValue lock lockLabel"
}

.miniMouseReadoutNoFluxGrid {
    display: grid;
    align-items: start;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  minmax(20px,24px) minmax(50px,65px) 12px minmax(155px,auto) min-content minmax(30px,max-content);
    grid-template-rows :  auto;
    grid-template-areas:
            "popout pixReadoutLabel clipboardIcon pixReadoutValue lock lockLabel"
}

.miniMouseReadoutWLImageGrid {
    display: grid;
    align-items: start;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  30px 65px 12px minmax(11em,12em) auto minmax(90px,150px) auto minmax(90px,155px) min-content minmax(2px,max-content);
    grid-template-rows :  auto;
    grid-template-areas:
            "popout pixReadoutLabel clipboardIcon pixReadoutValue fluxLabel fluxValue wlLabel wlValue lock lockLabel"
}






.mouseReadoutPopupMinimalGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  30px 70px 0 170px 130px;
    grid-template-rows : 1.4em 1.4em;
    grid-template-areas:
            "lockDialog pixReadoutTopLabel clipboardIconTop pixReadoutTopValue ."
            "lockDialog pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue lock";
}

.mouseReadoutPopupMinimalGrid-withclip {
    grid-template-columns :  30px 70px 12px 170px 130px;
}

.mouseReadoutPopupFullGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns:  30px 80px 80px 88px 0 170px;
    grid-template-rows : 1.4em 1.4em 1.4em 1.4em;
    grid-template-areas:
            "lockDialog pixSizeLabel pixSizeValue pixReadoutTopLabel clipboardIconTop pixReadoutTopValue"
            "lockDialog redLabel redValue pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue"
            "lockDialog greenLabel greenValue blueLabel blueValue ."
            "lockDialog . lock . . .";
}

.mouseReadoutPopupInlineFullGrid {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    grid-template-columns:  65px 14px 200px;
    grid-template-rows : 2em 1.4em 1.4em 1.4em 1.4em;
    align-items: center;
    grid-template-areas:
            ". . lock"
            "pixSizeLabel . pixSizeValue"
            "pixReadoutTopLabel clipboardIconTop pixReadoutTopValue"
            "pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue"
            "redLabel . redValue"
            "greenLabel . greenValue"
            " blueLabel . blueValue";
}
.mouseReadoutPopupInlineFullGrid-3c {
    grid-template-rows : 2em 1.4em 1.4em 1.4em 1.4em 1.4em 1.4em;
}

.mouseReadoutPopupFullGrid-withclip {
    grid-template-columns:  30px 80px 80px 88px 12px 170px;
}


.mouseReadoutHiPSGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    grid-template-columns :  60px 90px 80px 105px 74px 0 160px 130px;
    grid-template-rows :  auto;
    grid-template-areas:
            "nOrderLabel nOrderValue pixSizeLabel pixSizeValue pixReadoutTopLabel clipboardIconTop pixReadoutTopValue plotTitle"
            "healpixPixelLabel healpixPixelValue empty empty pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue lock";
}

.mouseReadoutHiPSGrid-withclip {
    grid-template-columns :  60px 90px 80px 105px 74px 12px 160px 130px;
}

.mouseReadoutLabel {
    cursor: default;
    justify-self: end;
}

.mouseReadoutClickLabel {
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}
