




.mouseReadoutPopupInlineFullGrid {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    grid-template-columns:  6em 14px auto;
    grid-template-rows : 2em 1.4em 1.4em 1.4em 1.4em;
    align-items: center;
    grid-template-areas:
            ". . lock"
            "pixSizeLabel . pixSizeValue"
            "pixReadoutTopLabel clipboardIconTop pixReadoutTopValue"
            "pixReadoutBottomLabel clipboardIconBottom pixReadoutBottomValue"
            "redLabel . redValue"
            "greenLabel . greenValue"
            " blueLabel . blueValue";
}
.mouseReadoutPopupInlineFullGrid-3c {
    grid-template-rows : 2em 1.4em 1.4em 1.4em 1.4em 1.4em 1.4em;
}

.mouseReadoutPopupFullGrid-withclip {
    grid-template-columns:  30px 80px 80px 88px 12px auto;
}

.mouseReadoutLabel {
    cursor: default;
    justify-self: end;
}

.mouseReadoutClickLabel {
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}
