
.expand-dd-table:hover + .ddtable { /* Uses the adjacent sibling selector */
    visibility: visible; /* Or display: block */
}

/*override rc-tree's styles*/
.rc-tree-node-selected {
    background-color: inherit !important;
    border: none !important;
    opacity: 1 !important;
}


.TapSearch {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.TapSearch__title {
    font-weight: bold;
    font-size: large;
    margin: 6px 4px;
}

.TapSearch__section {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    transition: all .2s ease-in-out;
    background-color: white;
    border-radius: 2px;
    padding: 6px 2px 6px 2px;
    margin: 2px 4px;
    outline: none;
    width: calc(100% - 8px);
    display: inline-flex;
    align-items: start;
    box-sizing: border-box;
    flex-shrink: 0;
}

.TapSearch__hide {
    padding: 0 2px 0 2px;
    margin: 0 4px;
    overflow: hidden;
}

.TapSearch__section > .expandable {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.TapSearch__section--title {
    display: inline-flex;
    align-items: center;
    color: #005da4;
    font-size: larger;
    font-weight: bold;
    padding-left: 5px;
    width: 210px;
    height: 100%;
    white-space: nowrap;
    flex-shrink: 0;
}

.TapSchema {
    display: flex;
    flex-direction: column;
    border: 1px solid #cbcbcb;
}

.TapSchema__toolbar {
    display: inline-flex;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
    background-color: #e2e2e2;
    padding: 2px;
}