
.expand-dd-table:hover + .ddtable { /* Uses the adjacent sibling selector */
    visibility: visible; /* Or display: block */
}

/*override rc-tree's styles*/
.rc-tree-node-selected {
    background-color: inherit !important;
    border: none !important;
    opacity: 1 !important;
}


.TapSearch {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.TapSearch__title {
    font-weight: bold;
    font-size: large;
    margin: 6px 4px;
}

.TapSearch__section {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    transition: box-shadow .3s ease-in-out;
    background-color: white;
    border-radius: 2px;
    padding: 6px 2px 4px 2px;
    margin: 2px 4px;
    outline: none;
    width: calc(100% - 8px);
    display: inline-flex;
    align-items: start;
    box-sizing: border-box;
    flex-shrink: 0;
}

.TapSearch__section > .expandable {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.TapSearch__section--title {
    color: #005da4;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    width: 175px;
    white-space: nowrap;
    flex-shrink: 0;
}

