
.expand-dd-table:hover + .ddtable { /* Uses the adjacent sibling selector */
    visibility: visible; /* Or display: block */
}

/*override rc-tree's styles*/
.rc-tree-node-selected {
    background-color: inherit !important;
    border: none !important;
    opacity: 1 !important;
}


.TapSearch {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


.TapSearch__section {
    transition: all .2s ease-in-out;
    display: inline-flex;
}

.TapSearch__hide {
    padding: 0 2px 0 2px;
    margin: 0 4px;
    overflow: hidden;
}

.TapSearch__section > .expandable {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
}


.TapSchema {
    display: flex;
    flex-direction: column;
    border: 1px solid #cbcbcb;
}

.TapSchema__toolbar {
    display: inline-flex;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
    background-color: #e2e2e2;
    padding: 2px;
}