<?xml version='1.0' encoding='utf-8'?>
<Context unpackWAR="true" reloadable="false" swallowOutput="true">

    <!-- maxActive: Maximum number of dB connections in pool. Make sure you
         configure your mysqld max_connections large enough to handle
         all of your db connections. Set to -1 for no limit.
         -->

    <!-- maxIdle: Maximum number of idle dB connections to retain in pool.
         Set to -1 for no limit.  See also the DBCP documentation on this
         and the minEvictableIdleTimeMillis configuration parameter.
         -->

    <!-- maxWait: Maximum time to wait for a dB connection to become available
         in ms, in this example 10 seconds. An Exception is thrown if
         this timeout is exceeded.  Set to -1 to wait indefinitely.
         -->

    <!-- username and password: dB username and password for dB connections
         -->

    <!-- driverClassName: Class name of JDBC drive
         -->

    <!-- url: The JDBC connection url
         -->

	<Resource name="jdbc/Operation" auth="Container"
	          type="javax.sql.DataSource" driverClassName="com.mysql.jdbc.Driver"
	          url="%operation.db.url%"
	          username="it_user" password="%josso.db.password%"
              maxActive="50" maxIdle="3" defaultAutoCommit="false"
	/>

    <Resource name="jdbc/josso" auth="Container"
              type="javax.sql.DataSource" driverClassName="com.mysql.jdbc.Driver"
              url="%josso.db.url%"
              username="it_user" password="%josso.db.password%"
              maxActive="50" maxIdle="3" defaultAutoCommit="false"
    />

    <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
           resourceName="UserDatabase"/>

</Context>
