<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>irsabanner</display-name>




    <security-constraint>
      <web-resource-collection>
        <web-resource-name> Admin Area </web-resource-name>
        <url-pattern>/admin/* </url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <!-- Roles that have access -->
        <role-name> admin </role-name>
      </auth-constraint>
    </security-constraint>

    <!-- BASIC authentication -->
    <login-config>
      <auth-method> BASIC </auth-method>
      <realm-name> Admin Area </realm-name>
    </login-config>


    <welcome-file-list>
      <welcome-file>BannerTest.html</welcome-file>
    </welcome-file-list>

</web-app>
