//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 1
BuildMinor = 0
BuildRev = 0
BuildType = "Development"
BuildNumber = 0

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = "/hydra/logs/statistics"
alerts.dir = "/hydra/alerts"

banner.host = "http://***REMOVED***"
debug.mode = false

download.bundle.maxbytes = 304857600
vis.shared.mem.size = "1G"

sso.server.url = "http://***REMOVED***/account/"
sso.user.profile.url = "http://***REMOVED***/account/uman/uman.html//id=profile"
help.base.url = "http://***REMOVED***/onlinehelp/"

// MySQL operation(user, preference, history, etc) database connection information
operation.db.url        = "jdbc:mysql://kane.ipac.caltech.edu:3306/user_management"
operation.db.userId     = ''
operation.db.password   = ''

visualize.fits.search.path = "/irsadata"

irsa.gator.hostname = "irsa.ipac.caltech.edu"
wise.ibe.host       = "***REMOVED***:8000"
twomass.ibe.host    = "http://***REMOVED***:8000"

lcogt.baseURL = "http://lcodev1.ipac.caltech.edu:8000/"
lsst.baseURL  = "http://***REMOVED***/"

lsst.qserv.uri = "jdbc:mysql://***REMOVED***/LSST"
lsst.qserv.user = ''
lsst.qserv.pass = ''

lsst.schema.uri = "jdbc:mysql://lsst-db.ncsa.illinois.edu/lsst_schema_browser_S12_lsstsim"
lsst.schema.user = ''
lsst.schema.pass = ''

planck.psf_basepath     = "***REMOVED***irsa-data-planck-beams"
planck.filesystem_basepath = "/irsadata/Planck"
ptf.filesystem_basepath = "***REMOVED***irsa-ptf-links"
lcogt.filesystem_basepath = "***REMOVED***lco-data-dev/LCOGT/lco-link-001"
lsst.filesystem_basepath  = "/irsadata/LSST/dr-s2012/sdss/coadd/rr1000/s4S"
wise.filesystem_basepath  = "***REMOVED***irsa-wise-links-public"

// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4016-developer, 5016-dev, 6016-I&T, 7016-Prod, 8016-Public
ehcache.multicast.port = 4016

environments{
    local {
        visualize.fits.search.path = "/Library/WebServer/Documents:/irsadata:***REMOVED***irsa-wise-links-public/"
    }

    dev {
        vis.shared.mem.size = "3G"
        ehcache.multicast.port = "5015"
    }

    test {
      BuildType = "Beta"
      operation.db.url  = "jdbc:mysql://***REMOVED***/user_management"
      irsa.gator.hostname = "***REMOVED***"
      lcogt.baseURL = "http://lcotest1.ipac.caltech.edu:8000/"
      lsst.baseURL = "http://***REMOVED***:8000/"
      ehcache.multicast.port = "6015"
    }

    ops {
      BuildType = "Final"
      operation.db.url  = "jdbc:mysql://***REMOVED***/user_management"
      wise.ibe.host     = "irsa.ipac.caltech.edu"
      lcogt.baseURL     = "http://lcoops1.ipac.caltech.edu:8000/"
      lsst.baseURL      = "http://***REMOVED***:8000/"
      ehcache.multicast.port = "7015"
    }
}
