//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 1
BuildMinor = 0
BuildRev = 0
BuildNumber = 0
BuildType = "Final"

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = '${catalina.base}/logs'
alerts.dir = "/hydra/alerts"

debug.mode = false

/*  keep vis.shared.mem.size small if pct is used */
pct.vis.shared.mem.size = 0.4
vis.shared.mem.size = "100M"
ehcache.multicast.ttl = 1

download.bundle.maxbytes = 304857600

sso.server.url = "https://irsa.ipac.caltech.edu/account/"
sso.user.profile.url = "https://irsa.ipac.caltech.edu/account/uman/uman.html//id=profile"
help.base.url = "https://irsa.ipac.caltech.edu/onlinehelp/"


visualize.fits.MaxSizeInBytes= 10737418240
visualize.fits.search.path = "/irsadata"
visualize.fits.Security= true

// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4015-local, 5015-dev, 6015-test, 7015-ops, 7515-ops_int
ehcache.multicast.port = "7015"


/* ------------------------ IRSA services --------------------------------- */
GatorHost     = "https://irsa.ipac.caltech.edu"
irsa.base.url           = "https://irsa.ipac.caltech.edu"
irsa.gator.dd.hostname  = "https://irsa.ipac.caltech.edu"
irsa.gator.hostname     = "https://irsa.ipac.caltech.edu"
//MOST (moving object - precovery - search) host
most.host = "https://irsasearchops.ipac.caltech.edu/cgi-bin/MOST/nph-most"
// IRSA Periodogram API
irsa.gator.service.periodogram.url = "https://irsa.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"
/*  ----------------------------------------------------------------------- */

wise.ibe.host       = "irsa.ipac.caltech.edu/ibe"
twomass.ibe.host    = "irsa.ipac.caltech.edu/ibe"

lsst.dataAccess.uri = ''
lsst.dataAccess.db = ''

environments {
    local {
        BuildType = "Development"
        ehcache.multicast.port = 4015
        visualize.fits.Security= false
        ehcache.multicast.ttl = 0
    }
    dev {
        BuildType = "Development"
        ehcache.multicast.port = "5015"
        irsa.gator.service.periodogram.url = "https://irsadev.ipac.caltech.edu/cgi-bin/periodogram/nph-periodogram_api"
        lsst.dataAccess.uri = "http://localhost:8661/db/v0/query?"
        lsst.dataAccess.db = "smm_bremerton"
    }
    test {
        BuildType = "Beta"
        ehcache.multicast.port = "6015"
    }
    ops_int {
        ehcache.multicast.port = "7515"
    }
}
