//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = 1
BuildMinor = 0
BuildRev = 0
BuildType = "Development"
BuildNumber = 0

config.dir = "/hydra/server/config"
work.directory = "/hydra/workarea"
stats.log.dir = '${catalina.base}/logs'
alerts.dir = "/hydra/alerts"

debug.mode = false

/*  keep vis.shared.mem.size small if pct is used */
pct.vis.shared.mem.size = 0.4
vis.shared.mem.size = "100M"
ehcache.multicast.ttl = 1

download.bundle.maxbytes = 304857600

sso.server.url = "http://irsa.ipac.caltech.edu/account/"
sso.user.profile.url = "http://irsa.ipac.caltech.edu/account/uman/uman.html//id=profile"
help.base.url = "http://irsa.ipac.caltech.edu/onlinehelp/"


visualize.fits.MaxSizeInBytes= 10737418240
visualize.fits.search.path = "/irsadata"

irsa.gator.hostname = "irsa.ipac.caltech.edu"

wise.ibe.host       = "irsa.ipac.caltech.edu/ibe"
twomass.ibe.host    = "irsa.ipac.caltech.edu/ibe"

lsst.dataAccess.uri = ''
lsst.dataAccess.db = ''

// not used at the moment - since Aug. 2015 - may come back (check Git history on QueryLSSTCatalog)
// lsst.qserv.uri = ''
// lsst.qserv.user = ''
// lsst.qserv.pass = ''

// not used at the moment - since Aug. 2015 - may come back (check Git history on QueryLSSTCatalogDD)
// lsst.schema.uri = ''
// lsst.schema.user = ''
// lsst.schema.pass = ''


// ehcache.xml env sensitive properties
// ehcahe replication port; suggest 4016-developer, 5016-dev, 6016-I&T, 7016-Prod, 8016-Public
ehcache.multicast.port = 4016
visualize.fits.Security= true

environments{
    local {
        visualize.fits.search.path = "/Library/WebServer/Documents:/irsadata"
        visualize.fits.Security= false
        visualize.fits.MaxSizeInBytes= 10737418240
        ehcache.multicast.ttl = 0
    }

    dev {
        ehcache.multicast.port = "5015"
        lsst.dataAccess.uri = "http://localhost:8661/db/v0/query?"
        lsst.dataAccess.db = "DC_W13_Stripe82"
    }

    test {
      BuildType = "Beta"
      ehcache.multicast.port = "6015"
    }

    ops {
      BuildType = "Final"
      ehcache.multicast.port = "7015"
    }
}
