/* SITE WIDE CSS*/
h1, h2, h3, h4, h5, h6
{
	padding: 7px 0px 0px 0px;
	margin: 0px;
	font-family: sans-serif;
}

h1
{
	font-size: 125%;
}

h2
{
	font-size: 120%;
}

h3
{
	font-size: 115%;
}

h4
{
	font-size: 110%;
}

h5
{
	font-size: 105%;
}

h6
{
	font-size: 102%;
}

img
{
	border: 0px;
}
/* END SITE WIDE CSS */




/* HOMEPAGE */
#IRSAMain
{
	padding: 5px;
}

.IRSANewsListing
{
	padding: 7px 0px 0px 0px;
}

.IRSANewsIcon
{
	float: left;
	margin: 0px 5px 5px 0px;
	width: 300px;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #CCC;
}

.IRSAFeaturedIcon
{
	margin: 0px;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #CCC;
}

.IRSANewsIcon img
{
}

.IRSAFeaturedIcon img
{
	width: 288px;
}

.IRSANewsIcon h6, .IRSAFeaturedIcon h6
{
	text-align: right;
	color: #555;
	font-size: 85%;
}

.IRSANewsListing .PostingDetails
{
	font-weight: bold;
}

.IRSANewsListing .LargeMiddleDot
{
	color: #900;
}

/* END HOMEPAGE */





/* SIDEBARS*/
/* RIGHT */
#IRSASideBarRight
{
	padding: 5px;
	width: 300px;
	border-left: 1px solid #AAA;
}

#RadarSearch table
{
	width: 100%;
	background-color: #DDF;
	padding: 0px;
	border: 1px solid #AAA;
}

#RadarSearch table td
{
	padding: 5px;
}

#RadarSearch a
{
	font-family: sans-serif;
	font-weight: bold;
}

#RadarSearch table tr td img
{
	position: relative;
	top: 6px;
}

#RadarSearch .PopCatLink
{
	border-top: 1px solid #AAA;
}


#IRSAEvents
{
}

#IRSAEvents dl
{
	padding: 0px;
	margin: 0px;
}

#IRSAEvents dt
{
	color: #444;
	font-weight: bold;
	font-family: sans-serif;
	font-style: italic;
	margin: 8px 0px 0px 0px;
}

#IRSAEvents dd
{
}

/* LEFT */

#IRSASideBarLeft
{
	padding: 5px;
	width: 180px;
	border-right: 1px solid #AAA;
}

#IRSAQuickList
{
}

#IRSAQuickList ul
{
	border: 0px solid red;
	padding: 5px;
	margin: 0px;
	float: left;
	list-style-type: none;
}


/* END SIDEBARS */


/* MISSIONS PAGE */
.mission
{
	border: 1px solid red;
}

.mission .imagebox
{
	border: 1px solid green;
	width: 210px;
	padding: 5px;
	float: right;
}
/* END MISSIONS PAGE */

