/*
 * License information at https://github.com/Caltech-IPAC/firefly/blob/master/License.txt
 */


.JobInfo__items--link {
    height: 16px;
    margin-left: 3px;
}
.JobInfo__items--link:hover {
    cursor: pointer;
}


.BgMaskPanel__msg {
    text-align: center;
    margin: 7px 5px;
    font-size: larger;
    font-style: italic;
}


.BgMaskPanel {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.BgMaskPanel__content {
    margin-top: 95px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
}

.BgMaskPanel__actions {
    display: inline-flex;
    align-items: center;
    margin-top: 3px;
}