/* @override http://localhost:8080/heritage/heritage.css */


/* Begin: General styles*/

* {
    margin : 0px;
    padding : 0px;
}

img, html {
    border:0 none;
}

body {
    background-color: #e3e3e3;
    padding: 2px 1px 0px 1px;
    border:0 none;
    line-height: 1.125em;
}


em {
    font-weight: bold;
}


body, table td, select * {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 11px;
    }
/* End: General styles*/

.title {
    font-weight : bold;
    font-size: 16px;
    padding: 2px 0px 3px 0px;
    margin-bottom: 1px;
    white-space: nowrap;
}

.options {
    color: #005da4;
    font-weight: bold;
    font-size: 11px;
    height: 20px;
    white-space: nowrap;
}

.options:hover {
    text-shadow: yellow 0.1em 0.1em 0.2em;
    cursor: pointer;
}

.options-selected {
    text-shadow: yellow 0.1em 0.1em 0.2em;
}

.status-msg {
    color: #1A2739;
    text-align: left;
    background-color: #FFF7C2;
    padding: 10px 20px;
    border: 1px solid #DAD093;
}

.error-msg {
    color: red;
}

.highlight {
    color: #1A2739;
    text-align: left;
    background-color: #FFF7C2;
    padding: 20px 23px 23px 23px;
    border: 1px solid #ECE6C4;
    margin: 0 0 25px 0;
    line-height: 1.6em;
}