/* @override http://localhost:8080/heritage/heritage.css */


/* Begin: General styles*/

* {
    margin : 0px;
    padding : 0px;
}

img, html {
    border:0 none;
}

body {
    background-color: #e3e3e3;
    padding: 2px 1px 0px 1px;
    border:0 none;
    line-height: 1.125em;
}


em {
    font-weight: bold;
}


body, table td, select * {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 11px;
    }

/* End: General styles*/

