.CollapsiblePanel {
  margin: 5px 0;
}

.CollapsiblePanel__Header {
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;
  font: inherit;
  border-bottom: solid 1px transparent;
  border-radius:  0em;
}

.CollapsiblePanel__Header:before {
  display: inline-block;
  width: 2em;
  content: '\25B6';
}

.CollapsiblePanel__Header--is-open:before {
  content: '\25BC';
}

.CollapsiblePanel__Content {
  margin: 0 10px;
  padding: 0 10px;
  overflow: hidden;
}

.CollapsiblePanel__Content-oneborder {
  border-left: 2px solid #ccc;
}

.CollapsiblePanel__Content-twoborder {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.CollapsiblePanel__Content-threeborder {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}


