.TabPanel__Tabs {
  list-style: none;
  padding:0;
  margin:0;
}


.TabPanel__Tab {
    float: left;
    border: 1px solid #adadad;
    border-bottom-width: 0;
    background: #e3e3e3; /*CVAL-GRAY*/
    outline: none;
    color:black; /*CVAL-BLACK*/
    cursor:pointer;
    height: 20px;
    margin-left:6px;
    padding:2px 6px;
    font-weight: normal;
    text-align:center;
    border-top-left-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.TabPanel__Tab--selected {
    width: auto;
    cursor:default;
    font-weight:bold;
    background: #c8c8c8;
    position: relative;
    bottom: -1px;
    top: 0;
    height: 21px;
}

.TabPanel__Content {
    border: 1px solid #adadad;
    background: #c8c8c8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    clear: both;
    flex-grow: 1;
    display: flex;
}

.TabPanel__Content.borderless{
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    background-color: unset;
}

.TabPanel__Content--inside {
    border: 1px solid #ccc;
    background: white;
    margin: 5px;
    display: flex;
    flex-grow: 1;
    position: relative;
}

